@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: white !important;
  font-family: Arial, Helvetica, sans-serif;
}

.custom {
  background-image: url("./images/Home/containers.svg");
}
.customerreview {
  background-color: #FFDDDD;
  background-image: url("./images/customerReviews/ttt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background-image: url("./images/About/about.svg");
}