@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: white !important;
  font-family: Arial, Helvetica, sans-serif;
}

.custom {
  background-image: url("./images/Home/containers.svg");
}
.customerreview {
  background-color: #FFDDDD;
  background-image: url("./images/customerReviews/ttt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background-image: url("./images/About/about.svg");
}
.privacy {
  background-image: url("./images/Privacy/privacy.svg");
  /* background: linear-gradient(to top, rgba(0,0,0,.2) 10%, transparent 70%), url("./images/Privacy/privacy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

}

 /* .term {
  
  background: linear-gradient(to top, #FC746C 30%, transparent 70%), url("./images/Terms/bg.svg");
 } */

 .term {
  background: linear-gradient(to top, #FC746C 30%, transparent 70%), url("./images/Terms/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  
}
 .blog{
  background-image:  url("./images/Blogs/pexels-mikhail-nilov-6894103.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
